@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
			Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	* {
		box-sizing: border-box;
	}
	select {
		appearance: none;
		background-color: transparent;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;
	}
	select::-ms-expand {
		display: none;
	}
	.checkbox {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	.checkbox-control {
		opacity: 0;
	}
	.checkbox:checked ~ .checkbox-control {
		opacity: 1;
	}
	.no-spin::-webkit-inner-spin-button,
	.no-spin::-webkit-outer-spin-button {
		-webkit-appearance: none !important;
		margin: 0 !important;
	}

	.no-spin {
		-moz-appearance: textfield !important;
	}
	.form-input-label-top:placeholder-shown + .form-label {
		opacity: 0;
		visibility: hidden;
		transform: translate(0.5rem, 2rem);
	}
	.form-input-label-bottom:placeholder-shown + .form-label {
		opacity: 0;
		visibility: hidden;
		transform: translate(0.5rem, -2rem);
	}
	.form-input::placeholder {
		letter-spacing: normal;
	}
	.highlight-blue::selection {
		@apply text-blue-lightest bg-blue;
	}
	.highlight-blue::-moz-selection {
		@apply text-blue-lightest bg-blue;
	}
}

@layer components {
	.button-green {
		@apply px-4 py-1 bg-green-600 text-white rounded-md  font-semibold;
	}
	.button-blue {
		@apply bg-blue px-4 py-1 text-white rounded-md font-semibold;
	}
	.button-blue-outline {
		@apply px-4 py-1 text-blue border border-blue rounded-md font-semibold;
	}
	.disabled {
		@apply bg-gray-500 cursor-default;
	}
}
